@import "tailwindcss";

@plugin "./hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";


html {
    scroll-behavior: smooth;
}

body {
    background-color: #edeef2;
    color: #000000;
    min-height: 100vh;
}